body {
  font-family: Helvetica, Arial, sans-serif;
  /* background-image: url('https://images.unsplash.com/photo-1472162072942-cd5147eb3902?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); */
  /* background-repeat: no-repeat;
  background-size: cover; */
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1472162072942-cd5147eb3902?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container,
.joke-container,
.button-container {
  margin-right: 50px;
}

header {
  /* display: flex; */
  /* flex-wrap: nowrap; */
  font-weight: bold;
  text-align: right;
  font-size: 75px;
  /* padding: 20px 110px 20px 0px; */
  /* margin: 30px 30px; */
}

.joke-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
  /* width: 650px; */
}

.jokebox {
  font-family: Helvetica, Arial, sans-serif;
  border: 3px solid;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 5px 10px #888888;
  font-size: 25px;
  /* word-break: break-all; */
  width: 600px;
  /* height: auto; */
  word-wrap: break-word;
  background: white;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  /* margin: 55px 200px 0px 0px; */
}

.jokebutton {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
  font-size: 30px;
  padding: 20px;
  /* width: auto; */
}
